# test libraries
coverage
djangocms_helper
flake8
isort
factory-boy
djangocms-column
-e git+git@github.com:FidelityInternational/djangocms-versioning.git#egg=djangocms_versioning
-e git+git@github.com:FidelityInternational/djangocms-version-locking.git#egg=djangocms_version_locking
-e git+git@github.com:FidelityInternational/djangocms-moderation.git#egg=djangocms_moderation
https://github.com/divio/djangocms-text-ckeditor/archive/support/4.0.x.zip
