# test libraries
coverage
djangocms_helper
flake8
isort
factory-boy
freezegun
djangocms-column
https://www.github.com/divio/djangocms-versioning/archive/master.zip
https://www.github.com/fidelityinternational/djangocms-version-locking/archive/master.zip
https://www.github.com/divio/djangocms-moderation/archive/release/1.0.x.zip
https://github.com/divio/djangocms-text-ckeditor/archive/support/4.0.x.zip
