# test libraries
coverage
django-app-helper
djangocms-column
factory-boy
flake8
freezegun
isort

# Unreleased django-cms 4.0 compatible packages
https://github.com/django-cms/django-cms/tarball/develop-4#egg=django-cms
https://github.com/django-cms/djangocms-text-ckeditor/tarball/support/4.0.x#egg=djangocms-text-ckeditor
https://github.com/django-cms/djangocms-versioning/tarball/master#egg=djangocms-versioning
https://github.com/FidelityInternational/djangocms-version-locking/tarball/master#egg=djangocms-version-locking
